<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        
         <ul class="contact-list">
          <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span style="font-size: 1.75rem; color: #828282;">
                <i class="fab fa-linkedin"></i>
              </span>
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>

          <li>
            <a href="https://www.github.com/{{ site.github_username }}">
              <span style="font-size: 1.75rem; color: #828282;">
                <i class="fab fa-github"></i>
              </span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>

          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span style="font-size: 1.75rem; color: #828282;">
                <i class="fab fa-twitter"></i>
              </span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
        </ul>
        
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
