/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.site-header {
  font-family: 'Montserrat', sans-serif;
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 54px;
}

.post-content p, .post-content li {
  font-size: 16px;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
